p {
        width: 90%;
    margin-left: 5%;
}

.tab{
    margin-left: 15%;
    margin-right: auto
}
.text{
    padding-right: 20%;
}
table
{
     margin-left: 20%;
     width: 70%;
}

h1{
    font-size: 50px;
    text-align: center;
    }