.AboutImg{
	margin-left: 10%;
	width: 80%;
    height: 300px;
}
.T{
	font-size: 50px;
	color: white;
	text-align: center;
}
.about{
text-align: center;
    display: inline-block;
    padding-bottom: 0%;
    margin-bottom: 0px;
    margin-left: 8%;
    font-size: 16px;
}
.map{
	text-align: center;
    display: inline-block;
    width:50%;
}
.text1{
	font-size: 16px;
}
 .socialMedia{
 	text-decoration: unset;
 }
